.container {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #380d52;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0.8, 0.5, 0.6, 0.5);
}

body {
    font-family: Arial, sans-serif;
    background-color: #4e1a66;
    margin: 0;
    padding: 0;
}

h1 {
    
    text-align: center;
    color: #f7f5f6;
    margin-bottom: 20px;
    font-size: 44px;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.7);
    background-color: #8b2d6f;
    padding: 10px;
    border-radius: 10px;
}

ol {
    padding: 20px;
    color: #fff;
    list-style:none;
}

li {
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    font-size: 18px;
}


.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 2dvb;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.15);
}

button {
    width: 100px;
    height: 40px;
    margin-right: auto;
    padding: 10px;
    background-color: #8b2d6f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2dvb;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0.8, 0.5, 0.6, 0.5);
}

button:hover {
    background-color: #6a1b4d;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.855);
}

.result {
    margin-top: 20px;
    padding: 10px;
    width: 282px;
    background-color: #f3e8ef;
    color: #0e0d0d;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 0;
    field-sizing: content;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.7);
}

.result-con {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%x;
}

#overall {
    grid-column: span 2;
    width: 589px;
        
}
